header{
    position: static;
    height: 580px;
    margin-bottom: 60px;
    background-image: url("../img/banner.jpg");
}

.section-category{
    position: center;
    height: 580px;
}


footer{
    position: relative;
    margin-top: 60px;
    height: 210px;
    background-image: url("../img/footer.jpg");
    background-color: grey;
}
